.cardDescription{
    width: 80%;
    margin: 0 auto;
}
.Images{
    margin: 0 auto;
}
h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
    padding: 1rem 2rem;
    font-size: 1.3rem !important;
    font-weight: 400;
}
h5{
    text-align: center;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
